# pandas Tutorial

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

in this workbook

What is Data Frames?
What is Data Series?
Different operation in Pandas

In [1]:
import pandas as pd
import numpy as np

Dataframe: many data sets used in machine learning, excel files, csv files etc. pandas make them similar to excel sheets in columns and rows for analysis.

In [ ]:
# create a DataFrame using the DataFrame inbuilt function
df = pd.DataFrame(np.arange(0,20).reshape(5,4), index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5'], columns=['Column1', 'Column2', 'Column3', 'Column4'])
df
# if the data is too large, we can use the head() function to display the first 5 rows

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [7]:
# convert the DataFrame to a CSV file and read it in excel
# df.to_csv('Test.csv')
# uncomment the line above to create the CSV file

In [14]:
# access the elements in the DataFrame or indexing
# one was is using .loc for row index and the other is .iloc for row and column index

df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int64

In [ ]:
print(type(df))
print(type(df.loc['Row1']))
print(type(df.iloc[0:1, 0:1]))
# when we have one row or one column, it is a series

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [19]:
df.shape

(5, 4)

In [20]:
# to access multiple rows, we can use the slicing method with .iloc
# this is similar to numpy slicing
# left of the comma is the row and right of the comma is the column
df.iloc[0:2, 0:2]

      Column1  Column2
Row1        0        1
Row2        4        5

In [ ]:
# convert the DataFrame to an array
# this removes the row and column labels
df.iloc[:, :].values
# .values is used to convert the DataFrame to an array

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [25]:
# check for null values
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [26]:
# .value_counts() is used to get the count of unique values in a column
df['Column1'].value_counts()

Column1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [27]:
# .unique() is used to get the unique values in a column
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [28]:
df['Column1']

Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: Column1, dtype: int64

In [30]:
type(df['Column1'])

pandas.core.series.Series

In [ ]:
df[['Column1', 'Column2']]
# this is a DataFrame and you have to use double square brackets 
# to access multiple columns in a DataFrame as it is a 2D array
# so we have to put the columns in a list []

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9
Row4       12       13
Row5       16       17