# Python data structures and Boolean

- Boolean
- Boolean and logical Operators
- Lists
- Comparison Operators
- Dictionaries
- Tuples
- Sets

Lists, Dictionaries and Sets are very important for explorative data analysis.

## Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
bool()

False

In [2]:
True

True

In [3]:
False

False

In [4]:
print(True, False)

True False

In [5]:
type(True)

bool

In [6]:
type(False)

bool

In [7]:
my_str = "Kaveh Namvar"

In [8]:
my_str.upper()

'KAVEH NAMVAR'

![alt text](image.png)

In [9]:
my_str.isalnum()
# the output would be False because there are no numbers in the string

False

## Boolean & logical operators

Logical operators like "and", "or".

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
True or False

True

In [13]:
True or True

True

In [14]:
False or False

False

In [15]:
str_1 = "Hello World"
str_2 = "Kaveh"

In [16]:
str_1.isnumeric()

False

In [17]:
str_2.isalpha()

True

In [18]:
str_1.isnumeric() or str_2.isalpha()

True

## Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [19]:
type([])

list

In [20]:
lst_example = []
type(lst_example)

list

In [21]:
# inbuilt function list() makes an empty list
lst = list()
type(lst)

list

In [22]:
# lists can have different types of data
lst = ['Mathematics', 'chemistry', 100, 200, 300, 204]
len(lst)

6

### Some inbuilt functions inside lists
.append is a function used to add elements in the list

In [23]:
lst.append("Kaveh")
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Kaveh']

In [24]:
# nested list
lst.append(["John", "Bala", "Cena"])
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 'Kaveh',
 ['John', 'Bala', 'Cena']]

In [25]:
# lst.append("a", "b")
# lst
# if you unhashtags the above two lines of code, it will throw an error because append() 
# function can only take one argument

In [26]:
# Indexing in lists
lst[1]

'chemistry'

In [27]:
lst[-1]

['John', 'Bala', 'Cena']

In [28]:
lst[1:4]

['chemistry', 100, 200]

In [29]:
lst[:2]

['Mathematics', 'chemistry']

In [30]:
lst[3:]

[200, 300, 204, 'Kaveh', ['John', 'Bala', 'Cena']]

In [31]:
# insert an element at a specific index or position or order    
lst.insert(2, "This is a new value")
# don't forget that the index starts at 0 in python
# usecase is when you want to add the element at a specific index
# append() function adds the element at the end of the list
lst

['Mathematics',
 'chemistry',
 'This is a new value',
 100,
 200,
 300,
 204,
 'Kaveh',
 ['John', 'Bala', 'Cena']]

### Extend Method

In [ ]:
# with extend() function, you can add multiple elements at the end of the list at the same time
lst=[1,2,3,4,5,6]
lst.extend([7,8])
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [33]:
# comparision with extend() and append()
lst.append([9,10])
lst

[1, 2, 3, 4, 5, 6, 7, 8, [9, 10]]

In [35]:
lst.remove([9,10])

### Various operations we can do in lists

In [37]:
lst=[1,2,3,4,5]

In [38]:
sum(lst)

15

In [39]:
# pop() function removes the last element from the list by default and returns the removed element
# we can also specify the index of the element to be removed
lst.pop()

5

In [40]:
lst.pop(0)

1

In [ ]:
lst
# here you see the elements with index 0 and 5 are removed

[2, 3, 4]

In [44]:
# count() function counts the number of times the element appears in the list
lst=[1,1,1,2,3,3,4,5]
lst.count(1)

3

In [43]:
len(lst)
# len() function returns the number of elements in the list

7

In [47]:
# index() function returns the index of the first occurence of the element in the list
lst.index(1)

0

In [48]:
lst.index(1,2,5)

2

In [50]:
# min() & max() functions
max(lst)

5

In [51]:
lst*2

[1, 1, 1, 2, 3, 3, 4, 5, 1, 1, 1, 2, 3, 3, 4, 5]

## Sets

A Set is an unordered collection data type that is iterable, mutable, and ***has no duplicate elements***. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [ ]:
# creating a set using curly braces or set function
# set is an unordered collection of unique items
# set is defined by values separated by comma inside curly braces {}
# set is mutable
# set is unordered, so indexing has no meaning
set_var = set()
print(set_var)
type(set_var)

set()

set

In [60]:
set_example1 = {1,2,3,4,5}
set_example2 = set({1,2,3,4,5})
set_example3 = set([1,2,3,4,5])
print(set_example1)
print(set_example2)
print(set_example3)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [62]:
# set removes the duplicates
set_example4={1,1,1,2,3,4}
set_example4

{1, 2, 3, 4}

In [63]:
set_var = {"Avengers", "Ironman", "Hitman"}
print(set_var)
type(set_var)

{'Hitman', 'Ironman', 'Avengers'}

set

In [64]:
# inbuilt function of sets

set_var.add("Hulk")
set_var

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [74]:
set1 = {"Avengers", "Ironman", "Hitman"}
set2 = {"Avengers", "Ironman", "Hitman", "Hulk2"}
print(set1)
print(set2)

{'Hitman', 'Ironman', 'Avengers'}
{'Hulk2', 'Hitman', 'Ironman', 'Avengers'}

In [75]:
# common elements in both sets
set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [76]:
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'Ironman'}

In [78]:
# differerence()
set2={'Avengers', 'Ironman', 'Hitman', 'Hulk2'}
set2.difference(set1)
# this means to get set 2 and remove the common elements in set 1 from set 2
# in other hand it is like subtracting set 1 from set 2, set2-set1

{'Hulk2'}

In [71]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [72]:
# difference_update()
set2.difference_update(set1)
set2

{'Hulk2'}

In [79]:
my_set = {1, 2, 3, 4, 5}
print(3 in my_set)  # Fast lookup using a hash table (Output: True)

True

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [80]:
# dictionaries are in {} similar to sets but they have key-value pairs
dict = {}
type(dict)

dict

In [81]:
dict = {1,2,3,4,5}
type(dict)

set

In [94]:
# creating a dictionary
my_dict = {"Car1": "Audi", "Car2": "BMW", "Car3": "Mercidies Benz"}
type(my_dict)

dict

In [83]:
# in dictionaries, we can access the value using the key, so here the index is the key
my_dict["Car1"]

'Audi'

In [84]:
# we can even loop through the dictionaries keys
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [85]:
# we can even loop through the dictionaries values
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [86]:
# we can also check and loop through the key-value pairs
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [93]:
#adding items in the dictionary
my_dict['Car4'] = 'Aston Martin'
my_dict

{'Car1': 'Porsche',
 'Car2': 'BMW',
 'Car3': 'Mercidies Benz',
 'Car4': 'Aston Martin'}

In [ ]:
# overridding the value of a key
my_dict['Car1'] = 'Porsche'
my_dict

{'Car1': 'Porsche',
 'Car2': 'BMW',
 'Car3': 'Mercidies Benz',
 'Car4': 'Aston Martin'}

remeber most of the data sources like mongo db we import json data and they are in key value pairs which are dictionaries

## Nested Dictionaries

In [95]:
car1_model = {'Mercedes': 1960}
car2_model = {'Audi': 1970}
car3_model = {'BMW': 1980}

car_type = {'car1': car1_model, 'car2': car2_model, 'car3': car3_model}
car_type

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'BMW': 1980}}

In [ ]:
# accessing the items in the nested dictionary
# suppose we want to access the model of car1
print(car_type['car1'])

{'Mercedes': 1960}

In [97]:
# we use the second key to access the value of the nested dictionary
print(car_type['car1']['Mercedes'])

1960

You can go check some other inbuilt functions of dictionaries, but don't memorize. You can always google them.

## Tuples

- Tuples are immutable: once you created it, you can not change the elements of a tuple

In [98]:
# create an empty tuple
my_tuple = tuple()
type(my_tuple)

tuple

In [105]:
# paranthesis () can also be used for creating a tuple
my_tuple = ("Kaveh", "Namvar", 1, 1, 3)
my_tuple

('Kaveh', 'Namvar', 1, 1, 3)

In [100]:
# you can access the elements of a tuple using the index
# but they are immutable, so you can't change the elements
my_tuple[0]

'Kaveh'

In [104]:
# my_tuple[0] = "John"
# if you uncomment the code above and run, this will throw an error because tuples are immutable

Tuples are used in programs or applications where the definition of an item is required just for one time. You can not do operations on it.

In [107]:
# inbuilt function count() 
my_tuple.count(1)

2

In [ ]:
my_tuple.index(1)
# this will return the index of the first occurence of the element in the tuple

2